<!DOCTYPE html>
<html lang="tr">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Anketler.info - Hakkımızda</title>
	<meta name="description" content="Hakkımızda">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="/images/favicon.png" type="image/gif" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu") %>
      <!-- end header inner -->
      <!-- about -->
      <div class="about" style="margin-top: 30px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2>Hakkımızda</h2>
                <p>Çok çeşitli konularda oylama yapmak ve gerçek zamanlı anket sonuçlarını görmek için nihai adres olan Anketler.info'ya hoş geldiniz! Web sitemiz, insanların en sevdiği ürünü, aktörü, politikacıyı vs. seçerek bakış açılarını belirtmesi ve diğer insanların da görüşlerinden faydalanması üzere tasarlanmıştır.<br><br>

                  Anketler.info'da herkesin oy kullanarak, özgürce fikrini belirtme hakkı olduğuna inanıyoruz. Kullanıcı dostu arayüzümüz, her yaştan ve kesimden insanların anketlerimize katılmasını ve sonuçları gerçek zamanlı olarak görmesini kolaylaştırır.<br><br>
                  
                  Hangi aktörün en popüler olduğunu veya hangi ürünün kendi kategorisinde en iyi olduğunu öğrenmek istiyorsanız, Anketler.info size yardımcı olur. Aralarından seçim yapabileceğiniz geniş bir kategori ve konu yelpazesi ile web sitemizde herkes için bir şeyler var.<br><br>
                  
                  Şeffaf ve tarafsız bir şekilde yürütülen anketlerimizin doğruluğu ve güvenilirliğinden gurur duyuyoruz. Ekibimiz, anketlerimizin tarafsız olmasını ve çok çeşitli insanların görüşlerini yansıtmasını sağlamak için çok çalışıyor.<br><br>
                  
                  Günün en sıcak konularında söz sahibi olmak istiyorsanız veya sadece başkalarının ne düşündüğünü görmek istiyorsanız, bugün Anketler.info'ya gelin ve bize katılın!</p>
              <br>
              
              
              <a href="/privacy-policy"><b style="color: rgb(207 255 0); font-size: 18px;">Gizlilik Politikamız  </b></a>
              <a href="/terms-of-service"><b style="color: rgb(207 255 0);font-size: 18px;">/  Hizmet Kullanım Şartları</b></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/about_img.png" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- end footer -->
      <%- include("partials/_footer") %>