<!DOCTYPE html>
<html lang="tr">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Anketler.info - Hizmet Kullanım Şartları - Terms of Service</title>
	<meta name="description" content="Hizmet Kullanım Şartları - Terms of Service">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="/images/favicon.png" type="image/gif" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <style>
      .my-list> li {
   margin-left: 25px;
    list-style: decimal;
}
p {
    color: black;
}
        </style>
    </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu") %>
      <!-- end header inner -->
      <!-- about -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
           
                
    <h1 style="text-align: center;margin-top: 10px;"><b>Hizmet Kullanım Şartları - Terms of Service</b></h1>
    <br>
    <h3>Anketler.info'ya hoş geldiniz. Bu bir Türkiye'de bulunan bireysel bir web sitesidir. Bu web sitesine erişerek, aşağıdaki kullanım koşullarına uymanız ve bağlı olmanız için izin vermektesiniz. Gizlilik politikamızla birlikte, Anketler.info'nun bu web sitesi ile sizin aranızdaki ilişkiyi düzenleyen kurallarıdır.</h3>
        <br>
    <ol class="my-list">
        <li>
            <p>Hesap Oluşturma:
                Kullanıcılar Anketler.info'da hesap oluşturabilirler.</p>
        </li>
        <li>
            <p>İçerik Oluşturma ve Yükleme:
                Kullanıcılar Anketler.info'da içerik (metin, resim) oluşturamaz ve/veya yükleyemezler.</p>
        </li>
        <li>
            <p>Ürün Satın Alma:
                Anketler.info herhangi bir mal satışı yapmamaktadır.</p>
        </li>
        <li>
            <p>Abonelik Planları:
                Anketler.info herhangi bir abonelik planı sunmamaktadır.</p>
        </li>
		<li>
            <p>Özel Mülkiyet:
                Anketler.info'nun içeriği, logosu, görsel tasarımı, ticari markaları vb. Anketler.info'nun özel mülkiyetidir.</p>
        </li>
        <li>
            <p>Geri Bildirim ve Öneriler:
                Anketler.info, kullanıcılarından geri bildirim ve önerileri memnuniyetle karşılar. Anketler.info'ya geri bildirim ve öneri sağlayarak, böyle bir geri bildirim ve öneriyi tazminat veya kredi vermeden kullanma hakkını Anketler.info'ya verdiğinizi kabul edersiniz.</p>
        </li>
        <li>
            <p>Promosyonlar ve Çekilişler:
                Anketler.info zaman zaman promosyonlar, yarışmalar ve çekilişler sunabilir. Bu tür promosyonlar, yarışmalar ve çekilişler kendi şartları ve koşullarına göre yönetilecektir.</p>
        </li>
		<li>
            <p>Kullanıcı Davranışları:
                Anketler.info kullanırken, tüm geçerli yasalara ve düzenlemelere uymayı kabul edersiniz. Anketler.info'yu,
                yasadışı bir amaç için veya Anketler.info'nun veya üçüncü tarafların haklarını ihlal edecek şekilde kullanmamayı kabul edersiniz.</p>
        </li>
        <li>
            <p>Fikri Mülkiyet:
                Metin, grafik, logo, resim ve yazılım dahil ancak bunlarla sınırlı olmamak üzere Anketler.info'daki tüm içerik, Anketler.info'nun mülkiyetindedir ve Türk ve uluslararası telif hakkı yasalarıyla korunmaktadır. Anketler.info'dan önceden yazılı izin almadan hiçbir içeriği kullanamazsınız.</p>
        </li>
        <li>
            <p>Garanti Reddi:
                Anketler.info "olduğu gibi" ve "mevcut olduğu gibi" temelinde sunulur. Anketler.info, bu web sitesinin işleyişi veya bilgileri, içerikleri, materyalleri veya ürünleri hakkında herhangi bir türde açık veya zımni temsil veya garanti yapmamaktadır. Bu web sitesini kullanmanızın sizin tek başınıza sorumluluğunuzda olduğunu açıkça kabul edersiniz.</p>
        </li>
		<li>
            <p>Sorumluluk Sınırlaması:
                Anketler.info, bu web sitesinin kullanımından kaynaklanan doğrudan, dolaylı, tesadüfi, özel veya dolaylı olarak ortaya çıkan herhangi bir zarar veya kayıptan sorumlu tutulamaz, Anketler.info'dan elde edilen herhangi bir bilgiye olan kullanıcı güvenine veya hatalardan, eksikliklerden, kesintilerden, dosya veya e-postanın silinmesinden, hatalardan, kusurlardan, virüslerden, işletme veya iletişim aksaklıklarından, hizmetlerin veya programların başarısızlığından veya kaynaklanıp kaynaklanmadığından bağımsız olarak, Tanrı'nın işi, iletişim aksaklıkları, hırsızlık, yıkım veya Anketler.info'nun kayıtlarına, programlarına veya hizmetlerine izinsiz erişimden kaynaklanan.</p>
        </li>
        <li>
            <p>Tazminat:
                Bu şartlar ve koşullara aykırı olarak Anketler.info'yu kullanmanızdan kaynaklanan herhangi bir kayıp, sorumluluk, talep veya talebe karşı savunma yapacağınızı ve Anketler.info, bağlı kuruluşları ve bunların ilgili görevlileri, temsilcileri, ortakları ve çalışanlarını makul avukat ücretleri de dahil olmak üzere herhangi bir zarardan zararsız tutacağınızı kabul edersiniz.</p>
        </li>
		<li>
            <p>Şart ve Koşulların Değiştirilmesi:
                Anketler.info, önceden bildirim yapmaksızın bu şartları ve koşulları herhangi bir zaman değiştirme veya
                güncelleme hakkını saklı tutar. Anketler.info'nun herhangi bir değişiklik yapmasından sonra Anketler.info'yu
                kullanmaya devam etmeniz, yeni şartları ve koşulları kabul ettiğiniz anlamına gelir.</p>
        </li>
        <li>
            <p>Kanun ve Yargı Yetkisi:
                Bu şartlar ve koşullar Türkiye yasalarına göre yönetilir ve yorumlanır. Anketler.info kullanımınızla ilgili
                ortaya çıkan herhangi bir anlaşmazlıkta Türkiye mahkemelerinin münhasır yargı yetkisine tabi olmayı kabul
                edersiniz.</p>
        </li>
        <li>
            <p>Bize Ulaşın:
                Şartlar ve koşullarımızla ilgili herhangi bir sorunuz veya endişeniz varsa, bize <a
                    href="mailto:iletisim@anketler.info" target="_new">iletisim@anketler.info</a> adresinden ulaşabilirsiniz.</p>
        </li>
		</ol>
<br>
<p>Anketler.info'yu kullanarak, bu şartları ve koşulları okuduğunuzu, anladığınızı ve kabul ettiğinizi beyan edersiniz. Eğer bu şartları ve koşulları kabul etmiyorsanız, Anketler.info'yu kullanamazsınız.</p>
    
    <br>
    <hr>
    <br>
    

              
            </div>
           
          </div>
        </div>
    
      <!-- end about -->
      <!-- end footer -->
      <%- include("partials/_footer") %>